* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: project_font;
  src: url(./tull/Lora-VariableFont_wght.ttf);
}

body {
  font-family: project_font;
}

@font-face {
  font-family: button_font;
  src: url(./tull/Anton-Regular.ttf);
}

.lg_in {
  font-family: button_font;
}

.all_sz {
  max-width: 1550px;
  margin: auto;
}

nav {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 3.5%;
  position: fixed;
  left: 0;
  right: 0;
  background-color: white;
  z-index: 100;
}

nav a img {
  height: 15px;
}

.nav_right {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  list-style-type: none;
}
.nav_right a {
  text-decoration: none;
  color: black;
}

.right {
  gap: 150px;
  justify-content: flex-end;
}

.reg {
  height: 40px;
  width: 170px;
  border-radius: 50px;
  background-color: #bd4f00;
  border: none;
}
.reg a {
  color: white;
  text-decoration: none;
  font-size: 15px;
}

.burger {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #bd4f00;
  color: white;
  height: 30px;
  width: 30px;
  border-radius: 10px;
  display: none;
  cursor: pointer;
}

.cube {
  margin-top: 50px;
  width: 200px;
  height: 500px;
  background-color: #bd4f00;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  position: fixed;
  z-index: 10000;
  right: -200px;
  transition: 1s;
  border-radius: 50px 0 0 50px;
}

.cube ul {
  display: flex;
  flex-direction: column;
}
.cube ul li a {
  color: white;
}

.cube .cube_reg {
  height: 40px;
  width: 170px;
  border-radius: 50px;
  background-color: white;
  border: none;
}
.cube .cube_reg a {
  text-decoration: none;
  color: #bd4f00;
  font-size: medium;
}

.shaw {
  right: 0px;
}

a:hover {
  text-decoration: underline;
}


@font-face {
  font-family: project_font;
  src: url(./tull/Lora-VariableFont_wght.ttf);
}

body{
  font-family: project_font;
}

@font-face {
  font-family: button_font;
  src: url(./tull/Anton-Regular.ttf);
}

button{ font-family: button_font;}

.all_sz {
  max-width: 1550px;
  margin: auto;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url(./tull/glass\ and\ wood.avif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.sign_box {
  height: 600px;
  width: 500px;
  background-color: #bd4f00;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.fa-user {
  color: white;
  font-size: 50px;
}

.fill {
  width: 400px;
  height: 50px;
  padding-inline-start: 10px;
  border-radius: 50px;
  border: none;
  font-size: 20px;
}

.lg_in {
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 50px;
  font-size: 20px;
  color: #bd4f00;
  cursor: pointer;
}

.frg {
  color: white;
  text-decoration: none;
}

.frg:hover {
  text-decoration: underline;
}

  .cont:hover{
    text-decoration: underline;
    color:#bd4f00;
  }